In [2]:
6*7

42

: 1

In [3]:
"c"$0x57656c6c20646f6e6521

"Well done!"

: 1

In [4]:
a:42

: 1

In [5]:
a

42

: 1

Whitespace eschewed but allowed

In [6]:
a : 42

: 1

In [7]:
a: 42

: 1

In [8]:
a

42

: 1

In [9]:
show a:42

42

: 1

Comment with / and use % for division

In [10]:
b:1+a:42 / nothing here counts c:6*7

: 1

In [11]:
c

'c

: 1

error format, tick -- indicates c is not recognized

In [13]:
a:42/ intended to be a comment

'

: 1

cryptic error message but error is you need a space before the comment indicator /

In [18]:
a:42 / this will work

: 1

In [19]:
a

42

: 1

variable assignment can be part of a larger expression

In [20]:
1+a:42

43

: 1

In [26]:
b:1+a:42;
b

43

: 1

two-line version gave error but adding the ; allowed it -- Jupyter implementation

In [25]:
b

43

: 1

In [27]:
2+3

5

: 1

In [28]:
2.2 * 3

6.6

: 1

In [30]:
4 - 2

2

: 1

In [31]:
4%2

2f

: 1

Booleans stored as 0 or 1 denoted Boolean with an explicit suffix b

In [32]:
42=40+1 / test for equality

0b

: 1

In [33]:
42=40+2

1b

: 1

Dates represented as integer days after the millenium

In [34]:
2000.01.01 / is actually 0

2000.01.01

: 1

In [35]:
2014.11.19 / is actually 5436

2014.11.19

: 1

In [36]:
1999.12.31 / is actually -1

1999.12.31

: 1

time - number of nanoseconds since midnight, denoted as

In [41]:
12:00:00.000000000 / noon - nine decimals

0D12:00:00.000000000

: 1

In [39]:
2000.01.01+5 / advance a date 5 days

2000.01.06

: 1

In [40]:
12:00:00.000000000+1000 / advance time by 1 micro second (1000 nano seconds)

0D12:00:00.000001000

: 1

can test for equality

In [43]:
2000.01.01=0

1b

: 1

In [44]:
12:00:00.000000000=12*60*60*1000000000

1b

: 1

Text: symbols and strings.  Symbols are atomic, denoted by a single back-tick at the beginning.  Can be entered literally as long as no embedded spaces or special characters

In [45]:
`aapl

`aapl

: 1

In [46]:
`jab

`jab

: 1

In [47]:
`thisisareallylongsymbol

`thisisareallylongsymbol

: 1

symbols are atomic, can be tested for equality

In [49]:
`aapl=`apl

0b

: 1

### Lists

In [50]:
(1; 1.2; `one)

1
1.2
`one

: 1

lists can be hetergeneous but operate faster if homogeneous so practice is to keep them that way when possible.  
Homogeneous lists called *simple* lists.

In [51]:
(1; 2; 3)

1 2 3

: 1

In [52]:
(1.2; 2.3; 3.4)

1.2 2.3 3.4

: 1

In [53]:
(2001.01.01; 2001.01.02; 2001.01.03)

2001.01.01 2001.01.02 2001.01.03

: 1

In [54]:
(1b; 0b; 1b)

101b

: 1

In [55]:
(`one; `two; `three)

`one`two`three

: 1

In [57]:
til 10 / like python, up to but not including...

0 1 2 3 4 5 6 7 8 9

: 1

In [60]:
1+til 10 / vector ops

1 2 3 4 5 6 7 8 9 10

: 1

In [61]:
2*til 10 / first ten evens

0 2 4 6 8 10 12 14 16 18

: 1

In [62]:
1+2*til 10 / evaluation right-to-left, first ten odds

1 3 5 7 9 11 13 15 17 19

: 1

In [63]:
42+2*til 10 / first 10 evens starting at 42

42 44 46 48 50 52 54 56 58 60

: 1

Join two lists with the join operator `,`

In [64]:
(1; 2; 3), (4;5)

1 2 3 4 5

: 1

simple lists don't need the semicolons and parens

In [65]:
1 2 3,4 5

1 2 3 4 5

: 1

In [66]:
1 2 3,100

1 2 3 100

: 1

In [67]:
0,1 2 3

0 1 2 3

: 1

Use the take operator `#` to extract items from the front or back of a list.  
Using `#` returns another list.

In [70]:
2#til 10 / positive number takes from the front

0 1

: 1

In [72]:
-2#til 10 / negative number takes from the back

8 9

: 1

`0#` returns an empty list of the same type as the first item of its argument

In [77]:
0# 1 2 3

`long$()

: 1

In [81]:
0# `a

`symbol$()

: 1

In [83]:
5#1 2 3 / extraction repeats at beginning

1 2 3 1 2

: 1

In [85]:
5#42 / handy way to repeat 42 five times in a list

42 42 42 42 42

: 1

In [89]:
L:10 20 30 / assign a list to a variable

: 1

In [90]:
L[0] / access items with brackets, indexed at 0

10

: 1

In [91]:
L[1]

20

: 1

### Functions

enclosed in braces, parameters in brackets

In [92]:
{[x]x*x}

{[x]x*x}

: 1